<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Tour name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.username %></td>
        <td><%= bookmark.tourname %></td>
        <td><%= button_to 'Show', bookmark, method: :get %></td>
        <td><%= button_to 'Edit', edit_bookmark_path(bookmark), method: :get %></td>
        <td><%= button_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
