<div>
  <% if flash[:notice] %>
    <p id = "notice"> <%= flash[:notice] %></p>
  <%end %>
</div>


<h1>Wolf Tours And Travels</h1>

<div>

  <%=form_tag do %>
    <fieldset>
      <legend>Please log in</legend>
      <div>
        <%= label_tag :username, 'Name' %>
        <%= text_field_tag :username, params[:username] %>
        <br><br>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, params[:password] %>

      </div>
      <div>
        <br>
        <%= submit_tag "Login" %>
      </div>
      <div>
        <br>
        If you haven't signup yet, let's do it here...!!!!<br>
        <td><%= link_to 'signup', new_user_path %></td>
      </div>
    </fieldset>
    <% end %>
</div>

