<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :seatsToBook %>
    <%= form.number_field :seatsToBook, id: :booking_seatsToBook %>
  </div>
  <br>
  <div class="field">
    <%= form.label :mode_of_booking %>
    <%= form.select :mode_of_booking, options_for_select(
        {"Only book available seats"=>1,
         "Book available seats and waitlist the rest"=>2,
         "If all seats are not available, waitlist all"=>3,
         "If all seats are not available, do not book"=>4
        })
    %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>