<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :seatsToBook %>
    <%= form.number_field :seatsToBook, id: :booking_seatsToBook %>
  </div>

  <div class="field">
    <%= form.label :mode_of_booking %>
    <%= form.text_field :mode_of_booking, id: :mode_of_booking%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
