

<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tourname %>
    <%= form.text_field :tourname, id: :tour_tourname %>
  </div>
<br>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :tour_description %>
  </div>
  <br>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :tour_price %>
  </div>
  <br>
  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_field :deadline, id: :tour_deadline %>
  </div>
  <br>
  <div class="field">
    <%= form.label :startDate %>
    <%= form.date_field :startDate, id: :tour_startDate %>
  </div>
  <br>
  <div class="field">
    <%= form.label :endDate %>
    <%= form.date_field :endDate, id: :tour_endDate %>
  </div>
  <br>
  <div class="field">
    <%= form.label :totalSeats %>
    <%= form.text_field :totalSeats, id: :tour_totalSeats %>
  </div>
  <br>

  <div class="field">
    <%= form.label :contactInfo %>
    <%= form.text_field :contactInfo, id: :tour_contactInfo %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
