<p id="notice"><%= notice %></p>

<p>
  <strong>Tour Name:</strong>
  <%= @review.tourname %>
</p>
<p>
  <strong>Subject:</strong>
  <%= @review.subject %>
</p>


<p>
  <strong>Tour Review:</strong>
  <%= @review.tourReview %>
</p>



<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
