<!DOCTYPE html>
<html>
  <head>
    <title>Tours And Travels</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <br><br>
    <td><%= link_to 'List of Itineraries', itinenaries_url %></td>&nbsp&nbsp
    <td><%= link_to 'List of Tours', tours_url %></td>&nbsp&nbsp
    <td><%= link_to 'List of Reviews', reviews_url %></td>&nbsp&nbsp
    <br><br>
    <%= link_to 'Profile', users_url%>&nbsp&nbsp&nbsp&nbsp
    <%= link_to 'Logout', session_create_url %>
  </body>

</html>
