<!DOCTYPE html>
<html>
  <head>
    <title>Tours And Travels</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <br><br>
    <td><%= link_to 'List of Itineraries', itinenaries_url %></td></t>
    <td><%= link_to 'List of Tours', tours_url %></td></t>
    <td><%= link_to 'List of Reviews', reviews_url %></td></t>

  </body>

</html>
